.square{
   background-color: #eee;
   padding: 20px;
   border: solid 1px #999;
    min-height: 400px;
    min-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}
.square ._left{
	background-color: #AAEBDA;
	height: 120px;
	width: 200px;
	position: absolute;
    padding: 20px;
    top:20px;
	left: 20px;
}
.square ._left .pb{
	background-color: #BBCCDD;
	height: 80px;
	width: 80px;
}
.square .mid{
	background: #AAA;
	max-width: 60%;
	padding: 20px;
	height: 300px;
	margin: 0 120px 0 300px;
	border: 1px;
}
.square .right{
	height: 400px;
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: #435;
	width: 120px;
	padding-right: 28px;
}
.square .right>ul li{
	list-style: none;
	margin-bottom: 15px;
    height: 80px;
    width: 80px;
	background-color: #567;
	
}